*{padding: 0;
margin: 0;
box-sizing: border-box;
list-style: none;
text-decoration: none;
border: none;
outline: none;
scroll-behavior: smooth;}


#trek{font-size: 40px; font-weight: 800; color: white; margin-left: 30px;}

.signup-button{background-color: white;
color: black; font-size: 18px;  font-weight: 600; margin-right: 30px;
padding: 8px 20px;
border-radius: 50px;
text-decoration: none;
transition: 0.3s background-color;}

.login-button{background-color: black;
    color: white; font-size: 18px; font-weight: 500;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color; margin-right: 20px;}

.login-button:hover{color: rgba(255, 255, 255, 0.651);}    

.signup-button:hover{background-color: rgba(255, 255, 255, 0.651);}

#navare {border: none; color: black;}

#navare:focus, .btn-close:focus {box-shadow: none;
outline: none;}

@media(min-width:992px){#navulinku{color: white ; font-weight: 500; font-size: 18px;}

                #navulinku:hover{color: rgba(255, 255, 255, 0.651);font-weight: 500;}}

@media(max-width:992px){#navulinku{color: rgb(0, 0, 0) ; font-weight: 500; font-size: 18px;}

#navulinku:hover{color: rgba(0, 0, 0, 0.651);font-weight: 500;}}

#section{background-color: black; width:100% ;}

#form{margin-left: 80px;; padding-top: 220px; padding-right: 50px; width: 50%; margin-left: 100px;}

#images{width: 50%; margin-right: 100px;}


.goheading{color: white; font-size: 50px; font-weight: 700;}

.gopara{color: white; margin-top: 30px;}

#exampleInputEmail1, #exampleInputPassword1 {width: 400px; height: 50px; border-radius: 10px; font-size: 16px;}

#gobutton{background-color: white; font-size: 16px; color: black; font-weight: 500; margin-top: 10px; width: 120px; height: 50px;}

#goimage{width: 550px; height: 700px; margin-top: 70px;}

#section{overflow-x: hidden;
     overflow-y: hidden; 
     display:flex; 
     width: 100%;
     height: auto;
    flex-direction: row;
justify-content: space-around;
}

@media screen and (max-width: 1380px){
    #form{margin-left: 70px;}
    #images{margin-right: 70px;}
    #goimage{padding-right: 80px;}
}

@media screen and (max-width:992px){
    #section{width: 100% ; display: block;}
    #form{width: 100%; margin-top: -180px; margin-left: 20px;}
    #images{width: 100%;}
    #goimage{width: 100%; height: 100%; margin: 20px; padding-right: 40px;}
    #exampleInputEmail1, #exampleInputPassword1{width: 100%;}
    #brtag{display: none;}
}